{% extends "home_automation_base.html" %}
{% block body %}


    <div class="row">
    <div class="col-md-6">
    <h3 align="center">Past</h3>
    <table class="table table-striped">
    <thead>
    <tr>
        <th rowspan=2/>
        <th rowspan=2>At This Time</th>
        <th class="text-center">Min's</th>
        <th class="text-center">Max's</th>
    </tr>
    <tr>
        <th>Obs</th>
        <th>Obs</th>
    </tr>
    </thead>
    {% for prior in past %}
        <tr>
        <td>{{ prior.label }}</td>
        <td>{{ prior.at_this_time|stringformat:".1f"  }}</td>
        <td>{{ prior.min_actual|stringformat:".1f"  }}</td>
        <td>{{ prior.max_actual|stringformat:".1f"  }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <div class="col-md-6">
    <h3 align="center">Now</h3>
    <table class="table table-striped">
    <tr>
        <td>Last Reading</td>
        <td> {{ current_temp.ts }} </td>
    <tr>
    <tr>
        <td>Temp</td>
        <td> {{ current_temp.value|stringformat:".1f" }} </td>
    <tr>
    <tr>
        <td>Humidity</td>
        <td> {{ current_humidity.value|stringformat:".1f" }} </td>
    <tr>
    </table>
    </div>

    </div>


{% endblock %}


