{% extends "home_automation_base.html" %}
{% block body %}

    <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable([
          ['x',  'Lows', 'Highs'],

    {% for reading in readings %}
        ["{{ reading.day|date:'SHORT_DATE_FORMAT'}}", {{ reading.minimum }}, {{ reading.maximum }}],
    {% endfor %}
        ]);

        // Create and draw the visualization.
        new google.visualization.LineChart(document.getElementById('temp')).
            draw(data, {curveType: "function",
                        width: 800, height: 500,
                        title: "Outside Temp"}
                );
      }
      google.setOnLoadCallback(drawVisualization);
    </script>
    <div class="row">
        <div id="temp" class="col-md-12"></div>
    </div>

{% endblock %}


