{% extends "home_automation_base.html" %}
{% block body %}


    <div class="row">
    <div class="col-md-4">
    <h3 align="center">Past</h3>
    <table class="table table-striped">
    <thead>
    <tr>
        <th rowspan=2/>
        <th rowspan=2>At This Time</th>
        <th colspan=2 class="text-center">Min's</th>
        <th colspan=2 class="text-center">Max's</th>
    </tr>
    <tr>
        <th>Obs</th>
        <th>Pred</th>
        <th>Obs</th>
        <th>Pred</th>
    </tr>
    </thead>
    {% for prior in past %}
        <tr>
        <td>{{ prior.label }}</td>
        <td>{{ prior.at_this_time|stringformat:".1f"  }}</td>
        <td>{{ prior.min_actual|stringformat:".1f"  }}</td>
        <td>{{ prior.min_prediction|stringformat:".1f"  }}</td>
        <td>{{ prior.max_actual|stringformat:".1f"  }}</td>
        <td>{{ prior.max_prediction|stringformat:".1f"  }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <div class="col-md-4">
    <h3 align="center">Present</h3>
    <table class="table table-striped">
    <tr>
        <td>Last Reading</td>
        <td> {{ current_temp.ts }} </td>
    <tr>
    <tr>
        <td>Temp</td>
        <td> {{ current_temp.value|stringformat:".1f" }} </td>
    <tr>
    <tr>
        <td>Humidity</td>
        <td> {{ current_humidity.value|stringformat:".1f" }} </td>
    <tr>
    </table>
    </div>

    <div class="col-md-4">
    <h3 align="center">Future</h3>
    <table class="table table-striped">
    <thead>
    <tr>
        <th/>
        <th>Min</th>
        <th>Max</th>
    </tr>
    </thead>
    <tr>
        <td>Today</td>
        <td> {{ prediction.min1_low|stringformat:".1f" }} - {{ prediction.min1_high|stringformat:".1f" }}  </td>
        <td> {{ prediction.max1_low|stringformat:".1f" }} - {{ prediction.max1_high|stringformat:".1f" }} </td>
    </tr>
    <tr>
        <td>Tomorrow</td>
        <td> {{ prediction.min2_low|stringformat:".1f" }} - {{ prediction.min2_high|stringformat:".1f" }} </td>
        <td> {{ prediction.max2_low|stringformat:".1f" }} - {{ prediction.max2_high|stringformat:".1f" }} </td>
    </tr>
    <tr>
        <td>+2</td>
        <td> {{ prediction.min3_low|stringformat:".1f" }} - {{ prediction.min3_high|stringformat:".1f" }} </td>
        <td> {{ prediction.max3_low|stringformat:".1f" }} - {{ prediction.max3_high|stringformat:".1f" }} </td>
    </tr>
    <tr>
        <td>+3</td>
        <td> {{ prediction.min4_low|stringformat:".1f" }} - {{ prediction.min4_high|stringformat:".1f" }} </td>
        <td> {{ prediction.max4_low|stringformat:".1f" }} - {{ prediction.max4_high|stringformat:".1f" }} </td>
    </tr>
    <tr>
        <td>+4</td>
        <td> {{ prediction.min5_low|stringformat:".1f" }} - {{ prediction.min5_high|stringformat:".1f" }} </td>
        <td> {{ prediction.max5_low|stringformat:".1f" }} - {{ prediction.max5_high|stringformat:".1f" }} </td>
    </tr>
    <tr>
        <td>+5</td>
        <td> {{ prediction.min6_low|stringformat:".1f" }} - {{ prediction.min6_high|stringformat:".1f" }} </td>
        <td> {{ prediction.max6_low|stringformat:".1f" }} - {{ prediction.max6_high|stringformat:".1f" }} </td>
    </tr>
    <tr>
        <td>+6</td>
        <td> {{ prediction.min7_low|stringformat:".1f" }} - {{ prediction.min7_high|stringformat:".1f" }} </td>
        <td> {{ prediction.max7_low|stringformat:".1f" }} - {{ prediction.max7_high|stringformat:".1f" }} </td>
    </tr>
    </table>
    Estimated to within 1 std dev. using past {{ stdev_interval }} days accuracy
    </div>
    </div>


{% endblock %}


