{% extends "home_automation_base.html" %}
{% block body %}
    {% if readings|length > 0 %}

    <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'When');
        data.addColumn('number', 'Rainfall');
        data.addRows([
    {% for reading in readings %} [new Date({{reading.ts.year}}, {{ reading.ts.month }} - 1, {{reading.ts.day}}, {{reading.ts.hour}}, {{reading.ts.minute}}, {{reading.ts.second}}), {{ reading.value }}],
    {% endfor %}
        ]);

        // Create and draw the visualization.
        new google.visualization.LineChart(document.getElementById('rainfall')).
            draw(data, {
                        width: 800, height: 500,
                        title: "Cumulative Rainfall",
                        vAxis: {minValue: 0},
                        hAxis: {format: 'MMM d, y'},
                       }
                );
      }
      google.setOnLoadCallback(drawVisualization);
    </script>
    {% endif %}
    <div class="page-header">
        <h2>Last rainfall was {{last_rain}}</h2>
    </div>
    Total rainfal in this duration: {{ total }} inches.
    <p/>
    <div class="row">
        <div id="rainfall" class="col-md-12"></div>
    </div>

{% endblock %}



