{% extends "home_automation_base.html" %}
{% block nav %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="{% url 'circuits' %}">Sprinklers</a></li>
        <li><a href="{% url 'outside_current' %}">Outside Temp/Humidity</a></li>
        <li><a href="/cellar">Cellar Temp/Humidity</a></li>
        <li><a href="/rain">Rainfall</a></li>
    </ul>
{% endblock %}

{% block body %}

{% if circuits %}
<table class="table table-striped table-condensed">
<caption>Current Circuit Status</caption>
<tr>
    <th>Circuit</th>
    <th>Last Watering</th>
    <th>Last Duration</th>
    <th>Current State</th>
    <th>Disabled</th>
    <th>Next scheduled run</th>
    <th>Water usage</th>
</tr>

<!-- TODO - Figure out how to use CSS to make the cells prettier and the table overall look nicer -->
    {% for circuit in circuits %}
<tr>
    <td><a href="/circuits/{{ circuit.id }}/">{{ circuit.label }}</a></td>
    <td>{{ circuit.last_watered }}</td>
    <td>{{ circuit.last_duration }}</td>
    <td>
        {% if circuit.current_state %} WATERING {% else %} OFF {% endif %}
    </td>
    <td>
        {% if circuit.disabled %} DISABLED {% else %} ENABLED {% endif %}
    </td>
    <td>{{ circuit.next_scheduled_run }}</td>
    <td>{{ circuit.cfh }} CFH</td>
</tr>
    {% endfor %}
</table>
    </ul>
{% else %}
    <p>No Circuits are available.</p>
{% endif %}

{% endblock %}
